@import "../../styles/variables.scss";

.container {
  display: flex;
  max-width: 100%;
  justify-content: space-between;

  h1 {
    width: 400px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 3rem;
  }

  &__text{
    font-size: 1.5rem;
  }

  &__btn {
    cursor: pointer;
    outline: none;
    padding: 0.75rem 2.25rem;
    border-radius: $borderRadius;
    font-size: 1rem;
    font-family: inherit;
    background: $primary;
    color: $light;
    border: 1px solid transparent;
    transition: 0.3s ease all;
  }

  &__img {
    width: 650px;
  }

  @include breakpoint(sm) {
    display: block;
  }
}

.content {
  width: 100%;
  font-family: $Roboto;
  padding-bottom: 3.1rem;

  h1 {
    text-align: center;
    text-transform: capitalize;
  }

  &__card {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__light {
      flex-basis: 25%;
      margin: 0.625rem 0;
      padding: 1.2rem;
      text-align: center;
      flex-direction: column;
      background-color: $fade;
      box-shadow: 0 0 0.6rem 0.2rem lightgray;
    }

    h3 {
      font-size: 1.5rem;
      padding: 0.6rem 0;
    }

    p{
      font-size: 1rem;
      padding: 0.6rem;
      line-height: 1.7;
    }
  }

  &__icon {
    color: $primary;
    font-size: 2.5rem;
  }

  @include breakpoint(sm) {
    width: 100%;
  }
}